---
layout: markdown_page
title: Secure Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the vision for this area of the product, see the [Secure stage] page.

[Secure stage]: /stages-devops-lifecycle/secure/

## Mission

The Secure team works on GitLab's [Secure stage].

[Secure stage]: /stages-devops-lifecycle/secure/

## Team Members

The following people are permanent members of the Secure Section:

<%= direct_team(role_regexp: /[,&] Secure/, manager_role: 'Engineering Manager, Secure') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Secure/, direct_manager_role: 'Engineering Manager, Secure') %>

## Common Links

 * [Secure team board]
 * [#g_secure] in Slack

## How to work with us

 ...

[Secure team board]: https://gitlab.com/groups/gitlab-org/-/boards/588843?&label_name[]=Secure

[#g_secure]: https://gitlab.slack.com/archives/g_secure
